.header{
    height: 75px;
    border-bottom: 1px solid #E5E9F2;

}

.child-header{
    width: 90%; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 21px;
}
.tabs{
font-weight: 700;
font-size: 18px;
color: #18191F;
padding: 6px;
margin: 0  20px  0 20px;
cursor: pointer ;
}
.logos{
    height: 40px;
    width: 135px;
    margin-left: 10px;
    cursor: pointer;
}


.first-page{
    /* height: 100vh; */
    padding: 20px 50px 80px 50px;
    display: flex;
    justify-content: space-evenly
}
.box1{
    margin: 20px;
}
.img1{
width: 1120px;
height: 750px;
}
.fs-28{
    font-size: 28px;
    font-style: " Source Sans Pro";
}
.sm-img{
    height: 80px;
    width: 80px;
}
.sm-font{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color:  #AF0C0C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    
}
.lg-font{
    font-size: 28px;
    font-weight: 660;
    color: #000000;
    margin-top: 8px;
}


.second-page{
        /* height: 100vh; */
        padding: 40px 100px;
        display: grid;
        grid-template-columns:auto 67% ;
        grid-column-gap:30px ;
        /* background-color: red; */
    
    }
    .head-name{
        font-size: 48px;
        font-weight: 600;
        color: #000000;
        text-align: center;
    }
    .para{
        font-weight: 400;
        font-size: 21px;
    }
    .img2{
        width: 100%;
    }